
#start{
	width: 700px;
	height: 600px;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 20px auto;
	border-radius: 5px;
}
#start>h1{
	width: inherit;
	background: #000;
	color: #FFFFFF;
	padding: 20px 0px;
}

#chatHistory{
	position: absolute;
	padding: 20px;
    width:658px;
    height:400px; 
	border: 1px solid;
	/* overflow: hidden; */
	overflow-y:auto;
}
#chatHistory>ul{
	overflow: hidden;
}
#chatCon>li:nth-child(even){
	color: red;
	text-align: right;
}
#chatCon>li:nth-child(even)>b{
	float: right;
}
#chatCon>li:nth-child(even)>span{
	float: right;
	margin: 0px 10px 0px 0px;
	background: green;
	padding: 5px 20px 5px 10px;
	text-align: left;
}
#chatCon>li{
	overflow: hidden;
	position: relative;
}
#chatCon>li>b{
	float: left;
	width: 40px;
	height: 40px;
}
#chatCon>li>b>img{
	width: inherit;
}
#chatCon>li>span{
	margin-left: 10px;
	line-height: 20px;
	float: left;
	width: 150px;
	border-radius: 5px;
	background: #02596B;
	padding: 5px 20px 5px 10px;
	color: #fff;
	word-wrap: break-word;
	text-align: left;
}
#box{
	width: inherit;
	position: absolute;
	bottom: 0px;
	text-align: center;
	margin: 0px 0px;
}
form {
 float: left;
}

#inputBox{
	text-align: center;
	width: 300px;
	padding: 10px;
	border: 1px solid #666;
	outline: none;
	border-radius: 5px;
}
#inputBtn {
	outline: none;
	border-radius: 5px;
	border: none;
	display: inline-block;
	background: #555;
	color: #FFFFFF;
	cursor: pointer;
	width: 90px;
	padding:10px;
	margin-right: 10px;
}

#resetBtn {
	outline: none;
	display: inline-block;
	border-radius: 5px;
	border: none;
	background: #555;
	color: #FFFFFF;
	cursor: pointer;
	width: 90px;
	padding:10px;
}

#inputBtn:hover{
	background: #222;
}	
body, h1, h2, h3, p, div, li, ul, form {
    margin: 0; padding: 0; line-height: 1em; border: 0;
	list-style: none;
}

/* body {
    line-height: 1.5em;
    font-family: sans-serif;
    width: 50em;
    margin: 0 auto;
    padding-bottom: 2em;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ul.content > li {
    list-style: none;
    padding: 0.5em 1em;

    border-radius: 10px;
    background: #cfe7fa;
    margin: 1em 0;
    background: -moz-linear-gradient(top, #cfe7fa 54%, #6393c1 100%);
    background: -webkit-linear-gradient(top, #cfe7fa 54%,#6393c1 100%);
    background: linear-gradient(to bottom, #cfe7fa 54%,#6393c1 100%);

    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.15);
}

form p { line-height: 2.5em; }
form input { border: 1px solid #777; line-height: 1.5em; padding: 0.2em 0.5em;}
form label { width: 6em; display: inline-block; }

p.subtext { font-size: 0.7em; color: #666; padding-bottom: 0.5em;}
p { line-height: 1.5em; }

#userbox, #loginbox {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 15em;
    height: 3em;
    background: rgba(128, 196, 255, 0.5);
    padding: 0.5em 1em;
    border-radius: 8px;
    line-height: 1.5em;
}

nav {
    padding: 1em;
}

nav a {
    display: inline;
}

nav form {
    display: inline;
} */