<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group 17 Chatbot</title>
    <script type="text/javascript" src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>

<h1>Group 17 - Train Booking Chatbot</h1>

<div id="conversation">


    <div id="chatHistory">
        {% for item in data %}
                <h4>{{item.whosaid}}</h4>{{item.item}}<br><br>
        {% endfor %}
    </div>
    <div id="inputForm">
    <form action="/userUpdate" method="POST">
        <input name="inputBox" id="inputBox" placeholder="say to the bot... " autocomplete="off" autofocus>
        <input type="submit" value="Say it">
    </form>
    </div>

    <br>
    <form action="/restartChat" method="POST">
        <input type="submit" value="Restart Chat">
    </form>

</div>

</body>
</html>