<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group 17 Chatbot</title>
    <script type="text/javascript" src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body onload="onload()">

<h1>Group 17 - Train Booking Chatbot</h1>

<div id="conversation">

    <div id="chatHistory">

    </div>
    <br>

    <form action="" onsubmit="updateChatHistory()">
        <input name="inputBox" id="inputBox" placeholder="say to the bot... " autocomplete="off" autofocus>
        <input type="submit" value="Say it">
    </form>

</div>

</body>
</html>