<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group 17 Chatbot</title>
    <script type="text/javascript" src="static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styling.css">
</head>
<body>

    <h1>Group 17 - Train Booking Chatbot</h1>

    <div id = "conversation">

        <div id = "chatHistory">

        </div>


        <br>
        <input name="inputBox" id="inputBox" placeholder="say to the bot... ">
        <input type="button" value="Say it" onclick="userUpdateChat(inputBox)">

    </div>



</body>
</html>